<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>540894787757-pug7pe2o6htg8ve5b81mdosfln6adh10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.540894787757-pug7pe2o6htg8ve5b81mdosfln6adh10</string>
	<key>API_KEY</key>
	<string>AIzaSyAK12qVzemLuzckYz6dUxyFeNpChz8XF2o</string>
	<key>GCM_SENDER_ID</key>
	<string>540894787757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uicephactree.SMC</string>
	<key>PROJECT_ID</key>
	<string>social-media-card</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-card.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:540894787757:ios:f287f2e0f5ac92a9</string>
	<key>DATABASE_URL</key>
	<string>https://social-media-card.firebaseio.com</string>
</dict>
</plist>