<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AccountKitClientToken</key>
	<string>116fc96230e4457877efb27792ad6400</string>
	<key>AccountKitFacebookAppEventsEnabled</key>
	<integer>1</integer>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>16.2</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>pdk4977449986619881680</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.uicephactree.SMC</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>li6293006</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>155</string>
	<key>FacebookAppID</key>
	<string>1743260455983371</string>
	<key>FacebookDisplayName</key>
	<string>SMC</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LIAppId</key>
	<string>6293006</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>instagram</string>
		<string>pinterest://</string>
		<string>pinterest</string>
		<string>fb-messenger</string>
		<string>fb</string>
		<string>twitter</string>
		<string>www.thesmc.xyz</string>
		<string>linkedin-sdk</string>
		<string>linkedin</string>
		<string>linkedin-sdk2</string>
		<string>pinterestsdk.v1</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>linkedin.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>This lets you take photos and record videos</string>
	<key>NSContactsUsageDescription</key>
	<string>Messaging</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This lets you record videos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This lets you to save photos</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This lets you choose photos from your library to set your Profile Picture</string>
	<key>UIAppFonts</key>
	<array>
		<string>Gabriola.ttf</string>
		<string>Biko_Regular.otf</string>
		<string>couture-bldit.otf</string>
		<string>couture-bld.otf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<dict>
		<key>sms</key>
		<true/>
	</dict>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDefault</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
